<div>
   	<h1 class="title">Zachary Bensley</h1>
   	<h3 class="sub-title">Web Developer</h3>
	<div hidden class="nav-buttons">
		<ul class="list-inline">		
			<li><div class="btn tooltip-message" href="#" data-toggle="tooltip" data-placement="bottom" title="Day"><span id = "sun" class="icon icon-sun"></span></div></li>
			<li><div class="btn tooltip-message" href="#" data-toggle="tooltip" data-placement="bottom" title="Night"><span id = "night" class="icon icon-star-empty"></span></a></div></li>
			<li><div class="btn tooltip-message" href="#" data-toggle="tooltip" data-placement="bottom" title="Rainy"><span id = "rain" class="icon icon-droplet"></span></a></div></li>
		</ul>
	</div>
</div>

<div class="image-cropper">
	<img class="center-image" alt="seattleSkyline" id="seattlePic" src="/images/sampleSeattleSkyline.png"/>
</div>
