<div class="MapCtrl">
<div ng-controller="MapCoffeeCtrl">
	<div class="map-container map-odd" style="	padding-top: 0px;">
		<h2>2011 Global Coffee Production</h2>
		<h5>Displays coffee production of member countries and non-member countries from the <a href="http://www.ico.org/prices/po.htm">International Coffee Organization</a>.</h5>
		<map zoom={{zoom}} center={{center}} scrollwheel= {{scrollwheel}}>
			<fusion-tables-layer query="{
				select: 'geometry',
				from: '1mOwEVBrCDZxmwDd7gc-sFl3Us2Ux4tGYRiJIXA7E'}",
				
				options= "{
	            styleId: 2,
	            templateId: 2
	        }">
			</fusion-tables-layer>
		</map>
		<a href="https://www.google.com/fusiontables/data?docid=1mOwEVBrCDZxmwDd7gc-sFl3Us2Ux4tGYRiJIXA7E#rows:id=1"><div class="btn btn-default btn-map">Coffee Data</div></a>
	</div>
</div>
<div ng-controller="SeattleBreweriesController">
  	<div class="map-container map-even">
		<h2>Washington Breweries</h2>
		<h5>Uses Map Clusterer and Google Maps API to display the location of breweries and brew pubs in Seattle</h5>
		<div class="row">
			<div class="col-md-12">
					<map zoom={{zoom}} center={{center}} scrollwheel= {{scrollwheel}}></map>
			</div>
		</div>
	</div>
</div>
<div ng-controller="MapNeighborhoodCtrl">
	<div class="map-container map-odd">
		<h2>Seattle Neighborhood Mapper</h2>
		<h5>Loads Zillow neighborhood data in GeoJSON so people can identify their neighborhoods.</h5>
		<map zoom={{zoom}} center={{center}} scrollwheel= {{scrollwheel}}>
  			<map-data set-style="{fillColor: 'green', strokeWeight: 1}" on-mouseover="onMouseover()" load-geo-json="/geoJson/washingtonHoods.json"></map-data>
		</map>
		<h1>{{neighborhoodName}}</h1>
		<a href="http://www.zillow.com/howto/api/neighborhood-boundaries.htm"><img src="/images/Zillow_Logo_HoodsProvided_RightAligned.gif"/></a>
	</div>
</div>
</div>