<div class="container" ng-controller="ProjectsCtrl">
	<div class="row">
		<div class="col-md-12"><h1>Project Portfolio</h1></div>
	</div>
	<div class="project">
	<div class="row">		
		<div class="col-sm-8">
			<div class="picture-container"><img class="picture-item project-image img-responsive" ng-src="{{p1image}}" alt="Right Image Issue"></div>	
		</div>
		<div class="col-sm-1 col-xs-12">
			<div ng-click='setImage("p1", "desktop")'class="screenType btn" ng-class="isActive('p1', 'desktop')"><span class="icon-display"></span></div>
			<div ng-click='setImage("p1", "tablet")' class="screenType btn" ng-class="isActive('p1', 'tablet')"><span class="icon-tablet"></span></div>
			<div ng-click='setImage("p1", "mobile")'class="screenType btn" ng-class="isActive('p1', 'mobile')"><span class="icon-mobile2"></span></div>			
		</div>
		<div class="col-sm-3">
			<h1 class="title">Odd-Job</h1>		
			<p class="project-text">Odd-Job is a job posting site that specializes in odd jobs. It allows users to find and
			post odd-jobs around the Greater Seattle Area.</p>
			<p><span class="technologies">HTML5</span><span class="technologies">AngularJS</span><span class="technologies">GoogleMapsAPI</span>
			<span class="technologies">Google Endpoints</span><span class="technologies">Java</span><span class="technologies">Oauth 2.0</span>
			<span class="technologies">JavaScript</span><span class="technologies">CSS3</span></p>
			<a href="https://www.github.com/zacharilius/odd-job"><button type="button" class="btn btn-default btn-md">
 				 <span class="icon-github" aria-hidden="true"></span> GitHub
			</button></a>				
			<a href="https://odd-job.appspot.com"><button type="button" class="btn btn-default btn-md">
 				 <span  aria-hidden="true"><img class="project-button-img" src="/images/project/odd-job.png"></span> Odd-Job
			</button></a>
		</div>		
		</div>
	</div>
	<div class="project">
		<div class="row">
			<div class="col-md-3 ">
				<h1 class="title">JavaScript Program A Day</h1>		
				<p class="project-text">I want to become a JavaScript ninja so I'm challenging myself to do a 
				new JavaScript program everyday for a year. The code is hosted on GitHub and the projects can be found
				by following the link below. If you have any project requests, comments, or questions, click the contact 
				button in the navigation bar to message me. </p>
				<p><span class="technologies">NodeJS</span><span class="technologies">AngularJS</span><span class="technologies">GoogleMapsAPI</span>
				<span class="technologies">JavaScript</span><span class="technologies">ExpressJS</span></p>			
				<a href="https://github.com/Zacharilius/web-app-a-day-challenge"><button type="button" class="btn btn-default btn-md">
	 				 <span class="icon-github" aria-hidden="true"></span> GitHub
				</button></a>				
				<a href="#/projects/web-app-a-day-challenge"><button type="button" class="btn btn-default btn-md">
					<span class="icon-rocket" aria-hidden="true"></span> Projects 
				</button></a>
			</div>
			<div class="col-sm-8">
				<div class="picture-container"><img class="picture-item project-image img-responsive" src="/images/project/mondrain.png" alt="Image Issue"></div>	
			</div>
			<div  hidden class="col-md-8">
				<div class="picture-container"><img class="picture-item project-image img-responsive" ng-src="{{p2image}}" alt="Right Image Issue"></div>	
			</div>
			<div hidden class="col-md-1">
				<div ng-click='setImage("p2", "desktop")'class="screenType btn" ng-class="isActive('p2', 'desktop')"><span class="icon-display"></span></div>
				<div ng-click='setImage("p2", "tablet")' class="screenType btn" ng-class="isActive('p2', 'tablet')"><span class="icon-tablet"></span></div>
				<div ng-click='setImage("p2", "mobile")'class="screenType btn" ng-class="isActive('p2', 'mobile')"><span class="icon-mobile2"></span></div>			
			</div>	
		</div>
	</div>
</div>