<div class="container">
	<div class="row">
		<div class="col-md-12"><h1>JavaScript App-A-Day Challenge</h1></div>
		<div class="col-md-12"><p>I challenged myself to create a web project everyday for a year.</p></div>
	</div>
   	<div class="project">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="project-text title">Day 3 of my App-A-Day Challenge: Creating a Navbar from scratch</h3>		
				<p class="project-text">I created a navbar from scratch using just CSS. I included a background image of Mount Baker that I found on <a href="http://i.imgur.com/JlNWTPP.jpg">Imgur</a>.</p>
				<p class="project-text"><span class="technologies">HTML</span><span class="technologies">CSS</span></p>			
				<div class="pull-left">				
					<a href="http://codepen.io/zacharilius/full/GpMKbX/"><button type="button" class="btn btn-default btn-md">
						<span class="icon-codepen" aria-hidden="true"></span> CodePen 
					</button></a>
				</div>
			</div>
		</div>
	</div>   	<div class="project">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="project-text title">Day 2 of my App-A-Day Challenge: jQuery Input Sample</h3>		
				<p class="project-text">For today's challenge, I used jQuery to create an input.  Also I'm too relient on bootstrap so I'll be styling the element with
				 element without bootstrap.  JavaScript and jQuery will be used to provide some validation and to update the DOM.</p>
				<p class="project-text"><span class="technologies">HTML</span><span class="technologies">CSS</span></p>			
				<div class="pull-left">				
					<a href="http://codepen.io/zacharilius/details/yYodoV/"><button type="button" class="btn btn-default btn-md">
						<span class="icon-codepen" aria-hidden="true"></span> CodePen 
					</button></a>
				</div>
			</div>
		</div>
	</div>
   	<div class="project">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="project-text title">Day 1 of my App-A-Day Challenge: Mondrain Picture</h3>		
				<p class="project-text">I got the idea to create a Mondrain-esque picture from <a href="https://googlecreativelab.github.io/coder-projects/. ">
				here</a>. I wanted to start off with an easy challenge.</p>
				<p class="project-text"><span class="technologies">HTML</span><span class="technologies">CSS</span></p>			
				<div class="pull-left">				
					<a href="http://codepen.io/zacharilius/pen/YyxvaY"><button type="button" class="btn btn-default btn-md">
						<span class="icon-codepen" aria-hidden="true"></span> CodePen 
					</button></a>
				</div>
			</div>
		</div>
	</div>
</div>