---
layout: default
title: Projects - Rummy Data Visualization
permalink: /projects/rummy-data-visualization
page_css: rummy.css
page_js: rummy.js
---

<div class="mdl-grid">
  <div id="title-container" class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
    <h3>My wife and I have been playing the same game of Rummy since January 2017.</h3>
    <h4>The current winner is:</h4>
    <h4 id="current-winner"></h4>
  </div>
</div>

<div id="winner-stats-container">
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th></th>
        <th class="mdl-data-table__cell--non-numeric">Zach</th>
        <th class="mdl-data-table__cell--non-numeric">Deana</th>
        <th class="mdl-data-table__cell--non-numeric">Combined</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Total Points</td>
        <td id="z-total-points"></td>
        <td id="d-total-points"></td>
        <td id="total-points"></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Average Points per trick</td>
        <td id="z-avg-points-per-trick"></td>
        <td id="d-avg-points-per-trick"></td>
        <td id="avg-points-per-trick"></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Number tricks won</td>
        <td id="z-num-tricks-won"></td>
        <td id="d-num-tricks-won"></td>
        <td id="num-tricks-won"></td>
      </tr>
    </tbody>
  </table>
</div>
