---
layout: default
title: Projects - Rummy Data Visualization
permalink: /projects/rummy-data-visualization
page_css: rummy.css
page_js: rummy.js
---

<div class="mdl-grid">
  <h1>My wife and I have been playing the same game of Rummy since January 2017.</h1>
  <h3>The current winner is:</h3>
  <h2 id="current-winner"></h2>
</div>

<table>
  <thead>
    <tr>
      <td></td>
      <td>Zach</td>
      <td>Deana</td>
      <td>Combined</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Total Points</td>
      <td id="z-total-points"></td>
      <td id="d-total-points"></td>
      <td id="total-points"></td>
    </tr>
    <tr>
      <td>Average Points per trick</td>
      <td id="z-avg-points-per-trick"></td>
      <td id="d-avg-points-per-trick"></td>
      <td id="avg-points-per-trick"></td>
    </tr>
    <tr>
      <td>Number tricks won</td>
      <td id="z-num-tricks-won"></td>
      <td id="d-num-tricks-won"></td>
      <td id="num-tricks-won"></td>
    </tr>
  </tbody>
</table>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--5-col">Deana</div>
  <div class="mdl-cell mdl-cell--5-col">Zach</div>
  <div class="mdl-cell mdl-cell--2-col">Current Points</div>
  <div class="mdl-cell mdl-cell--5-col">4</div>
  <div class="mdl-cell mdl-cell--5-col">4</div>
</div>
