---
layout: default
title: Projects
permalink: /projects/
group: navigation
page_css: projects.css
page_js: projects.js
---

<div class="mdl-grid">
  <div id="" class="mdl-cell mdl-cell--4-col mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Map Together</h2>
    </div>
    <div class="mdl-card__supporting-text">
      A GIS application in Django that syncs maps changes in real time.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a href="https://map-together.herokuapp.com/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect icon icon-heroku">
        <img src="/images/heroku_logo.png" />
      </a>
      <a href="https://github.com/zacharilius/map_together" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect icon icon-github">
        {% include icon-github.svg %}
      </a>
    </div>
  </div>
  <div id="" class="mdl-cell mdl-cell--4-col mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Zombie Escape</h2>
    </div>
    <div class="mdl-card__supporting-text">
      A top down game that you play as a zombie who tries to eat as many brains
      as possible before one of the Van Helsing daughters finds and kills him.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a href="https://github.com/zacharilius/zombie_escape" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect icon icon-github">
        {% include icon-github.svg %}
      </a>
    </div>
  </div>
</div>
