  <header class="mdl-layout__header mdl-layout__header--waterfall">
    <!-- Top row, always visible -->
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <a href="/"><span class="mdl-layout-title">Zachary Bensley</span></a>
    </div>
    <!-- Bottom row, not visible on scroll -->
    <div class="mdl-layout__header-row">
      <!-- Left Navigation -->
      <nav class="mdl-navigation">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            {% if my_page.url == page.url %}
              <a class="mdl-navigation__link is-active " href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% else %}
              <a class="mdl-navigation__link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </nav>
      <div class="mdl-layout-spacer"></div>
      <!-- Right Navigation -->
      <nav class="mdl-navigation nav-top">
        <a class="mdl-navigation__link" href="http://www.github.com/zacharilius">
          {% include icon-github.html username=site.github_username %}
        </a>
        <a class="mdl-navigation__link" href="http://codepen.io/zacharilius/">
          {% include icon-codepen.html username=site.codepen_username %}
        </a>
        <a class="mdl-navigation__link" href="https://www.linkedin.com/in/zabensley">
            {% include icon-linkedin.html username=site.linkedin_username %}
        </a>
        <a class="mdl-navigation__link" href="https://instagram.com/zacharilius/">
          {% include icon-instagram.html username=site.instagram_username %}
        </a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Zachary Bensley</span>
    <nav class="mdl-navigation nav-drawer">
      {% for my_page in site.pages %}
        {% if my_page.title %}
          <a class="mdl-navigation__link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
      {% endfor %}
      <a class="mdl-navigation__link" href="http://www.github.com/zacharilius">
        {% include icon-github.html username=site.github_username %}
      </a>
      <a class="mdl-navigation__link" href="http://codepen.io/zacharilius/">
        {% include icon-codepen.html username=site.codepen_username %}
      </a>
      <a class="mdl-navigation__link" href="https://www.linkedin.com/in/zabensley">
          {% include icon-linkedin.html username=site.linkedin_username %}
      </a>
      <a class="mdl-navigation__link" href="https://instagram.com/zacharilius/">
        {% include icon-instagram.html username=site.instagram_username %}
      </a>
    </nav>
  </div>
