<!-- Libraries -->
<script src="{{ "/static/lib/material-design-lite/material.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/lib/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/lib/leaflet/leaflet.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/lib/leaflet.markercluster/leaflet.markercluster.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/lib/leaflet.AnimatedMarker/AnimatedMarker.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/lib/d3/d3.min.js" | prepend: site.baseurl }}"></script>


<!-- Page JS -->
{% if page.page_js %}
	<script src="/static/js/{{ page.page_js }}"></script>
{% endif %}
