.project-container {
    margin-top: 40px;
}

.icon {
    padding: 0px;
}

.portfolio-card .mdl-card__media {
    background-color: #fff;
}

.icon-heroku img {
    height: 36px;
    width: auto;
}

.icon-github {
    min-width: 36px;
    height: 36px;
}

.icon-github svg path {
    fill: rgb(0, 0, 0);
}

.icon-github svg {
    width: 36px;
    height: 36px;
}

.icon-twitter {
    min-width: 36px;
    height: 36px;
}

.icon-twitter svg {
    width: 36px;
    height: 36px;
}

.icon-twitter svg path {
    fill: rgb(0, 132, 180);
}
