#title-container {
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
}

#title-container h4 {
    display: inline-block;
}

#current-winner {
    font-weight: 500;
    margin-left: 10px;
}

#winner-stats-container table {
    margin: 0 auto;
}
