#title-container {
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
}

#title-container h4 {
    display: inline-block;
}

#current-winner {
    font-weight: 500;
    margin-left: 10px;
}

#winner-stats-container {
    overflow-x: auto;
}

#winner-stats-container table {
    margin: 0 auto;
}

/* Charts */

#chart-container {
    border-top: 1px solid #aaaaaa;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 60px;
}

.chart-container {
    text-align: center;
    margin-bottom: 20px;
}

.chart-legend {
    display: table;
    margin: 0 auto;
    padding: 10px;
    text-align: left
}

.legend-square {
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-right: 25px;
}

.legend-deana {
    border-bottom: 3px solid #FC4A1A;
}

.legend-zach {
    border-bottom: 3px solid #037584;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
