/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Navigation */

header {
	background-color: #00796B !important;
}

nav .mdl-navigation__link {
	border-bottom: 5px solid transparent;
}

nav .is-active {
    opacity: 1;
    border-bottom: 5px solid rgb(255,171,64);
    height: 64px;
}

.nav-top .icon {
	font-size: 35px;
	color: #FFFFFF;
}

.nav-drawer .icon {
	font-size: 25px;
}

.nav-drawer .icon svg path {
    fill: #757575;
}
