---
layout: default
title: Map
permalink: /map/
group: navigation
page_css: map.css
page_js: map.js
---

<div class="mdl-grid maps-container">
    <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--4dp map-col">
        <h4>Seattle Parks & Park Benches</h3>
        <div id="park-benches-map" class="map"></div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--4dp map-col">
        <h4>Restaurant Cleanliness Ratings</h3>
        <div id="restaurant-cleanliness-rating-map" class="map"></div>
    </div>
</div>
