---
layout: page
title: Maps
permalink: /maps/
group: navigation
page_css: maps.css
page_js: maps.js
---

<div class="mdl-grid maps-container">
    <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--4dp map-col">
        <h4>Freemont Bridge Hourly Bike Use</h4>
        <h7 id="freemont-bridge-datetime">Time</h7>
        <h8 id="freemont-bridge-time-scale">(1 hour = 250ms)</h8>
        <div id="freemont-hourly-bike-use-map" class="map"></div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--4dp map-col">
        <h4>Restaurant Cleanliness Ratings</h4>
        <div id="restaurant-cleanliness-rating-map" class="map"></div>
        <!-- Source: http://www.kingcounty.gov/depts/health/environmental-health/food-safety/inspection-system.aspx -->
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--4dp map-col">
        <h4>Seattle Parks & Park Benches</h4>
        <div id="park-benches-map" class="map"></div>
    </div>
</div>
