---
layout: resume
title: Resume
permalink: /resume/
group: navigation
page_css: resume.css
---

<iframe id="resume-google-docs" src="https://docs.google.com/document/d/18fosfLiDGNl5dwqsXBVCPOclMdjrkeqjUDaXZWtLOW8/pub?embedded=true"></iframe>

<a download="zachary_bensley_resume.pdf" href="https://docs.google.com/document/d/18fosfLiDGNl5dwqsXBVCPOclMdjrkeqjUDaXZWtLOW8/export?format=pdf">
  <button id="resume-github"class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">file_download</i>
  </button>
</a>
